.adoption-container {
  width: 100%;
  padding: 40px 20px;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}

/* GRID EM 3 COLUNAS */
.animal-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

/* CARD */
.animal-card {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 0 10px #0002;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.animal-card:hover {
  transform: scale(1.02);
}

/* CABEÇALHO */
.card-header {
  background: #2563eb;
  text-align: center;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

/* IMAGEM */
.animal-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
}

/* CORPO DO CARD */
.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  flex-direction: column;
}

.card-i{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.card-info {
  display: flex;
  flex-direction: column;
}

.animal-name {
  font-size: 20px;
  font-weight: bold;
}

.animal-time {
  font-size: 13px;
  color: #777;
}

/* ESTRELA */
.fav-icon {
  color: #f5c518;
  font-size: 24px;
}

/* DESCRIÇÃO / LOCAL */
.animal-location {
  font-size: 14px;
  color: #555;
  padding: 0 12px 12px 12px;
}

.animal-location {
  font-size: 1rem;
  color: #000000;
}

.animall-type {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-adopt {
  display: inline-block;
  text-decoration: none;
  background: #1472ff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.btn-adopt:hover {
  background: #0d5cd1;
}

/* RESPONSIVO */
@media (max-width: 1024px) {
  .animal-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .animal-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
