* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fafafa;
  color: #333;
  margin:0;
  padding:0;
}

.main-content {
  padding-top: 70px; /* Ajuste conforme altura do menu */
}
